:root {
  /* sizes */
  --size-300: clamp(0.382rem, 0.5418rem + -0.1775vw, 0.5002rem);
  --size-400: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
  --size-500: clamp(1rem, 1rem + 0vw, 1rem);
  --size-600: clamp(1rem, 0.7359rem + 1.1268vw, 1.75rem);
  --size-650: clamp(1.125rem, 0.8169rem + 1.3146vw, 2rem);
  --size-700: clamp(1.9994rem, 1.7816rem + 0.9292vw, 2.6179rem);
  --size-800: clamp(2.8271rem, 2.3311rem + 2.1163vw, 4.2358rem);
  --size-850: clamp(3.5rem, 2.6197rem + 3.7559vw, 6rem);
  --size-900: clamp(3.9976rem, 2.992rem + 4.2906vw, 6.8535rem);
  --size-1000: clamp(5rem, 3.5915rem + 6.0094vw, 9rem);
  /* maximun line width */
  --max-line-width: 53ch;
  /* colors */
  --blue-300: hsl(231deg 77% 90%);
  --blue-900: hsl(230deg 35% 7%);
  --white: hsl(0deg 0% 100%);
}
